.error-container {
  height: 100vh;
  background: #f2f4f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
}

.error-container h1 {
  font-size: 80px;
  color: #4a6cf7;
}

.error-container h2 {
  margin-bottom: 10px;
}

.error-container p {
  margin-bottom: 20px;
  color: #777;
}

.error-container button {
  background: linear-gradient(135deg, #4a6cf7, #6a82fb);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}
